<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['user-home']" routerLinkActive="router-link-active" >Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <a class="nav-item nav-link" *ngIf=(!this.authService.checkLogInStatus()) [routerLink]="['login']" routerLinkActive="router-link-active current" >Login <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" *ngIf=(!this.authService.checkLogInStatus()) [routerLink]="['register']" routerLinkActive="router-link-active current" >Register</a>
        <a class="nav-item nav-link" *ngIf=(this.authService.checkLogInStatus()) (click)="logout()" routerLinkActive="router-link-active" >Log out</a>
      </div>
    </div>
</nav>


<router-outlet></router-outlet>